
body {
	background:white;
	margin-left:auto;
	margin-right:auto;
}
#main{
	margin-top:100px;
	margin-bottom:5px;
	padding-bottom:5px;
}
#teoria{
	color:#2C3E50;
	text-decoration:underline;
}
#circulo{
	margin-top:-50px;
	float:left;
	width:300px;
	margin-right:50px;
	width:22%;
}
#inicioi{
	text-decoration:none;
	color:#E59866;
}
#subtitulo{
	font-family: 'Mukta', sans-serif;
	margin-top:-50px;
	margin-bottom:50px;
	text-align:center;
	font-size:19px;
}
#tangente{
	float:left;
	margin-left:30px;
	margin-right:50px;
	width:20%;
	margin-top:1%
}
.parrafo{
	margin-top:5px;
	text-align:justify;
	float:right;
	width:73%;
	font-size:16px;
	margin-right:1%;
}

.subtitulos{
	text-decoration:underline;
	text-align:center;
	font-size:18px;
	font-family: 'Mukta', sans-serif;
}