
body {
	background:white;
	margin-left:auto;
	margin-right:auto;
}
#main{
	margin-top:100px;
	margin-bottom:5px;
	padding-bottom:5px;
}
#triangulo{
	width:300px;
	margin-left:20px;
}
#ecuaciones{
	color:#2C3E50;
	text-decoration:underline;
}
#funciones{
	margin-top:-150px;
	margin-left:350px;
	font-size:22px;
}
#funciont{
	margin-left:600px;
	font-size:22px;
}
#funcion{
	font-size:22px;
}
.caja{
	width:55px;
	height:20px;
}
#calculos{

	float:right;
	width:50%;
	margin-top:-78px;
}
#angulosnotables{
	float:right;
	width:50;
	height:200px;
	margin-top:140px;
	margin-right:40%;
}