
#tangulo{
	margin-left:50px;
}

#imagen1{
	float: right;
	width:75px;
}
#canvas{
	margin-left:auto; 
	margin-right: 50px; 
	display: block; 
	background:#FEF5E7;
}
#ecuaciones{
	margin-left:10px;
}

#funciones{
	margin-top:135px;
	text-align:right;
	margin-right:150px;
}
#resultados{
	margin-top:-220px;
	text-align:right;
	margin-right:500px;
}

.texto{
	width:65px;
	font-size:22px;
}
.funcion{
	font-size:22px;
}

#inicio{
	color:#2C3E50;
	text-decoration:underline;
}



