
*{
	padding:0px;
	margin:0px;
}
body {
	background:white;
	margin-left:auto;
	margin-right:auto;
}
#main{
	margin-top:100px;
	margin-bottom:5px;
	padding-bottom:5px;
}
header{
	height:75px;
	background: #F5CBA7 ;
}
.titulo{
	font-size:50px;
	text-align:left;
	color:#E59866 ;
}
#imagen1{
	float: right;
	width:75px;
}
#triangulo{
	width:300px;
	margin-left:20px;
}
footer{
	height:20px;
	width:100%;
	bottom:0px;
	position: fixed;
	background:#DC7633;
	text-align:center;
}
.link{
	margin-left:10px;
	color:#808B96;
	text-decoration:none;
	font-family: 'Source Code Pro', monospace;
	font-size:20px;
}
#ecuaciones{
	color:#2C3E50;
	text-decoration:underline;
}
#funciones{
	margin-top:-150px;
	margin-left:350px;
	font-size:22px;
}
#funciont{
	margin-left:600px;
	font-size:22px;
}
#funcion{
	font-size:22px;
}
.caja{
	width:40px;
}
#calculos{

	float:right;
	width:50%;
	margin-top:-78px;
}
#angulosnotables{
	float:right;
	width:50;
	height:200px;
	margin-top:140px;
	margin-right:40%;
}