
*{
	padding:0px;
	margin:0px;
}
body {
	background:white;
	margin-left:auto;
	margin-right:auto;
}
#main{

	margin-top:100px;
	margin-bottom:5px;
	padding-bottom:5px;
}
header{
	height:75px;
	background: #F5CBA7 ;
}
.titulo{
	font-size:50px;
	text-align:left;
	color:#E59866 ;
}
#imagen1{
	float: right;
	width:75px;
}
footer{
	height:20px;
	width:100%;
	bottom:0px;
	position: fixed;
	background:#DC7633;
	text-align:center;
}
.link{
	margin-left:10px;
	color:#808B96;
	text-decoration:none;
	font-family: 'Source Code Pro', monospace;
	font-size:20px;
}
#teoria{
	color:#2C3E50;
	text-decoration:underline;
}
#circulo{
	margin-top:-50px;
	float:left;
	width:300px;
	margin-right:50px;
}
#inicioi{
	text-decoration:none;
	color:#E59866;
}
#subtitulo{
	font-family: 'Mukta', sans-serif;
	margin-top:-50px;
	margin-bottom:50px;
	text-align:center;
	font-size:18px;
}
#tangente{
	float:left;
	margin-left:30px;
	margin-right:50px;
	
}


