*{
	padding:0px;
	margin:0px;
}
body {
	background:#FAD7A0 ;
	margin-left:auto;
	margin-right:auto;
}
#main{
	margin-top:5px;
	margin-bottom:5px;
	padding-bottom:5px;
}
header{
	height:75px;
	background: #F5CBA7 ;
}
.titulo{
	font-size:50px;
	text-align:left;
	color:#E59866 ;
}

#tangulo{
	margin-left:20px;
}

#imagen1{
	float: right;
	width:75px;
}
#canvas{
	margin-left:auto; 
	margin-right: 50px; 
	display: block; 
	width: 200px;
	height:200px;
	background:#FEF5E7;
}
#ecuaciones{
	margin-left:10px;
}
footer{
	height:20px;
	width:100%;
	bottom:0px;
	position: fixed;
	background:#DC7633;
	text-align:center;
}